.mostviewedComments,p{
    background-color: hsl(243, 94%, 12%);
    font-weight: bolder;
    font-size: 28px;
    color: #dcd3d3;
}
.Notifications,p{
    background-color: hsl(243, 94%, 12%);
    font-weight: bolder;
    font-size: 28px;
    color: #dcd3d3;
}
